/* ---- GLOBALS ---- */

body {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  font-size: 15px;
  margin: 0;
}

i {
  margin-right: 8px;
}

a {
  text-decoration: none;
  color: inherit;
  }

a:hover {
  color: #808080;
  text-decoration: none;
}

ul {
  list-style: none;
}

/* ---- HEADER ---- */

header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  /* color: #38b638; */
  color: #ffffff;
  background-color: #414040;
  padding: 10px 0 10px 0;
}

header a:hover {
  color: #5ab500;
}

.head-left {
  /* border: solid red 1px; */
  display: flex;
  flex-wrap: wrap;
  margin-left: 35%;
}
          
.head-right {
  /* border: solid red 1px; */
  margin-right: 50px;
}

.head-phone {
  /* border: solid red 1px; */
  margin-left: 60px;
}

.head-social-icons {
  /* border: solid red 1px; */
}

/* ---- NAVBAR ---- */
nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 13px 0 13px 0;
}

.placeholder {
  border: 1px solid red;
  margin-right: 7%;
}

#nav-logo {
  width: 100%;
}

nav ul {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin: 0 18px 0 18px;
  font-size: 1.5em;
}

nav a {
  width: 28%;
}

nav a:hover {
  border-bottom: 1px solid #5ab500;
}

#searchbar {
  margin: 0;
  padding: 0;
}

/* ---- CAROUSEL ---- */
#carousel-wrapper {
  display: flex;
  position: relative;
}

#carousel {
  z-index: 3;
  /* position: relative; */
  margin: 0;
}

.carousel-item {
  width:100%;
  /* max-height: 320px; */
  height: 80%;
  margin: 0;
}

.carousel-item img {
  margin: 0;
  }

#carousel-overlay {
  position: absolute;
  display: block;
  z-index: 100;
  background-color: #2b2b2baa;
  background-size: cover;
  width:100%;
  height: 100%;
  color: white;
}

#carousel-overlay h2 {
  margin: 10% 0 0 5%;
}

#carousel-overlay h4 {
  margin: 0 0 0 5%;
}

/* ---- MAIN CONTAINER ---- */

#main-container {
  display: flex;
  /* flex-wrap: wrap; */
  align-items: flex-start;
  /* justify-content: space-around; */
}

/* ---- ASIDE CATEGORY LINKS ---- */

aside {
  width: 17%;
  margin: 30px 30px 10px 30px;
}

aside h4 {
  font-weight: bold;
  margin-bottom: 16px;
}

aside ul {
  margin: 0;
  padding: 0;
}

aside li {
  padding-bottom: 10px;
  border-bottom: 1px solid #a2a2a2;
  margin-bottom: 10px;
}

/* ---- MAIN & FEATURED PRODUCT THUMBNAILS ---- */

main {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  /* border: purple 1px solid; */
  margin-top: 50px;
  width: 80%;
}

.item {
  width: 32%;
  max-height: 350px;
  /* border: 1px red solid; */
  margin-bottom: 40px;
}

#item-thumb-1 {
  background-image: url('./static_assets/102-Billetera-cuero-Dama-Ecogift-\ \(1\).jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 250px;
}

#item-thumb-2 {
  background-image: url('./static_assets/1834-Set-asado-completo-estuche-porta-vaso-cubiertos-plato-cuero-simil-Ecogift-2.jpg.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 250px;
}

#item-thumb-3 {
  background-image: url('./static_assets/1150-identificador-tag-valija-maleta-viaje-cuero-Ecogift-\ \ \(1\).jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 250px;
}

#item-thumb-4 {
  background-image: url('./static_assets/11900-Etiqueta-badana-cuero-grabado-bajo-relieve-personalizado-simil-plastico-Ecogift-1.jpg.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 250px;
}

#item-thumb-5 {
  background-image: url('./static_assets/123-C-Billetera-hombre-cuero-lumberjack-Ecogift-3.jpg.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 250px;
}

#item-thumb-6 {
  background-image: url('./static_assets/1700-Servidor-set-vino-cuero-personalizado-porta-botella-Ecogift-\ \ \(2\).jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 250px;
}

#item-thumb-7 {
  background-image: url('./static_assets/1793-B-porta-celular-holder-escritorio-cuero-Ecogift-\ \(1\).jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 250px;
}

#item-thumb-8 {
  background-image: url('./static_assets/1800-agenda-diario-intimo-anotador-university-cuaderno-simil-cuero-Ecogift-.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 250px;
}

#item-thumb-9 {
  background-image: url('./static_assets/11074-H-Neceser-necessaire--makeup-shave-toiletries-leather-porta-cosmeticos-Hombre-mujer-cuero-Ecogift-.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 250px;
}

main p {
  margin: 10px 5px 8px 5px;
}

/* ---- MAP ---- */
#map {
  width: 100%;
  height: 350px;
  background-image: url('./static_assets/ecogift-mapa.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 0 10px 0;
}

#map img {
  width: 30%;
  height: auto;
  margin: 4.5% 0 0 5%;
}

/* ---- INSTAGRAM FEED ---- */
#instafeed {
  width: 100%;
  text-align: center;
  margin: 0 0 10px 0;
}

/* ---- FOOTER ---- */
footer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  /* border: purple 1px solid; */
  background-color: #414040;
  color: #ffffff;
  height: 500px;
  padding: 46px 0 46px 0;
}

footer a:hover {
  color: #5ab500;
}

footer div {
  max-width: 20%;
  max-height: 350px;
  /* border: 1px red solid; */
}

footer ul {
  margin: 0;
  padding: 0;
}

footer li {
  margin-bottom: 8px;
}

footer h4 {
  padding-bottom: 8px;
  border-bottom: 1px white solid;
  margin: 0 0 8px 0;
}

#ft-social-links {
  text-align: center;
}

#ft-contact img {
  width: 100%;
}

#ft-contact p {
  margin: 3px 0 3px 0;
}

/* ---- CATEGORY THUMBS ---- */
#category-header {
  text-align: center;
  margin-bottom: 16px;
}

.category-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  /* border: purple 1px solid; */
  margin: 0 5% 0 5%;
  width: 90%;
}

.cat-thumb {
  width: 23%;
  max-height: 300px;
  /* border: 1px red solid; */
  margin-bottom: 40px;
  text-align: center;
}

#cat-thumb {
  /* background-image: url('./static_assets/1802-agenda-diario-intimo-anotador-university-cuaderno-cuero-Ecogift-\ \(1\).jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center; */
  width: 100%;
  height: 250px;
}

#cat-thumb-2 {
  background-image: url('./static_assets/123-A-Billetera-hombre-cuero-lumberjack-Ecogift-\ \(1\).jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 250px;
}

#cat-thumb-3 {
  background-image: url('./static_assets/11019-Cartera-tote-bolso-bolsa-cuero-dama-cierre-Ecogift-2.jpg.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 250px;
}

#cat-thumb-4 {
  background-image: url('./static_assets/11910-Etiqueta-badana-cuero-grabado-bajo-relieve-laser-personalizado-simil-plastico-Ecogift-1.jpg.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 250px;
}

#cat-thumb-5 {
  background-image: url('./static_assets/195-Llavero-publicitario-pasa-cinto-cuero-aplique-mosqueton-Ecogift-\ \(6\).jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 250px;
}

#cat-thumb-6 {
  background-image: url('./static_assets/11071-Neceser-necessaire--carpincho-cuero-Ecogift-\ \(1\).jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 250px;
}

#cat-thumb-7 {
  background-image: url('./static_assets/1796-R-porta-lapiz-tarjeta-tarjetero-holder-escritorio-Ecogift-\ \(5\).jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 250px;
}

#cat-thumb-8 {
  background-image: url('./static_assets/194-A-Pulsera-Brazalete-publicitario-pasa-cinto-cuero-grabado-personalizado-mosqueton-Ecogift-2.jpg.JPG');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 250px;
}

#cat-thumb-9 {
  background-image: url('./static_assets/1834-C-Set-asado-completo-estuche-porta-vaso-cubiertos-carol-plato-simil-cuero-carpincho-Ecogift-2.jpg.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 250px;
}

#cat-thumb-10 {
  background-image: url('./static_assets/1918-Kit-set-matero-termera-termo-yerbera-mate-cuero-Ecogift-1.jpg.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 250px;
}

#cat-thumb-11 {
  background-image: url('./static_assets/1151-identificador-tag-valija-maleta-viaje-cuero-Ecogift-\ \ \ \(3\).jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 250px;
}

#cat-thumb-12 {
  background-image: url('./static_assets/1704-2-Servidor-set-vino-cuero-personalizado-porta-botella-Ecogift-\ \(4\).jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 250px;
}

/* ---- PRODUCT DETAIL PAGE ---- */
#prod-deet-pg {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 80vh;
  margin-bottom: 20px;
}

#prod-deet-left {
  width: 8%;
  margin-right: 14px;
}

#prod-deet-center {
  width: 50%;
  margin-right: 14px;
}

#prod-deet-right {
  width: 30%;
  height: 80%;
  padding: 30px 10px 20px 10px;
  border-top: 1px solid #80808089;
  border-bottom: 1px solid #80808089;
}

.prod-img-side img {
  width: 100%;
  margin-bottom: 10px;
}

#prod-zoom {
  width: 100%;
}

#desc-head {
  font-size: 1.25em;
  margin: 25px 0 10px 0;
  color: #6d6d6d;
}

#desc-body {
  font-size: 1.11em;
}

/* ---- SERVICES PAGE ---- */
#services-page {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
#services-page h4 {
  text-align: center;
  color: #5ab500;
}

#services-page p {
  width: 80%;
  font-size: 1.1em;
}

#services-page ul {
  list-style-type: disc;
  margin-bottom: 30px;
}