{% load staticfiles %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ecogift | Merchandising Corporativo | Regalos Empresariales </title>
    <meta name="description" content="Articulos Corporativos | Regalos Empresariales | Merchandising Publicitario || Como diseñadores y fabicantes, nos aseguramos que nuestros productos personalizados exedan sus expectativas y capturen perfectamente la esencia de su organización. Buenos Aires, Argentina.">
    <meta name="keywords" content="Articulos Corporativos, Regalos Empresariales,  Merchandising Publicitario, cuero, bolso, billetera, mate, yerba, neceser, hombre, mujer, Ecogift, Ecogift Argentina, Argentina, evento, regalo, corporativo, merchandising, ejecutivo">
    <meta name="author" content="Sofia Aguirre (c) 2018">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link rel="stylesheet" href="../../static/style.css">
  </head>
  <body>
    <header>
      <div class="head-left">
          <a href="mailto:ecogiftargentina@gmail.com"><i class="far fa-envelope"></i></a>
        <a href="mailto:ecogiftargentina@gmail.com">ecogiftargentina@gmail.com</a>
        <div class="head-phone">
            <a href="tel:+54-011-2006-6581"><i class="fas fa-phone"></i></a>
          <a href="tel:+54-011-2006-6581">+54 011 2006 6581</a>
        </div>
      </div>
      <div class="head-right">
        <div class="head-social-icons">
          <a href="https://www.facebook.com/ecogift/"><i class="fab fa-facebook-square"></i></a>
          <a href="https://www.instagram.com/ecogift.us/"><i class="fab fa-instagram"></i></a>
          <a href="https://www.youtube.com/watch?v=WrRGn3EAg4A"><i class="fab fa-youtube"></i></a>
        </div>
      </div>
    </header>
    <nav>
      <a href="/"><img id="nav-logo" src="../../static/static_assets/Screen Shot 2018-11-15 at 4.16.03 PM.png" title="Ecogift, Fabrica de Merchandising" alt="Logo de Ecogift"></a>
      <div class="placeholder"></div>
      <ul>
        <li><a href="/">INICIO</a></li>
        <li><a href="/catalogo">CATÁLOGO</a></li>
        <!-- <li><a href="/index.html">EMPRESA</a></li> -->
        <li><a href="/servicios">SERVICIOS</a></li>
        <!-- <li><a href="/index.html">CONTACTO</a></li> -->
      </ul>
      <!-- <div id="searchbar">
        <input placeholder="ingrese búsqueda">
        <button>LUPA</button>
      </div> -->
      <div class="placeholder"></div>
    </nav>
    <div class="block-content">
      {% block content %}
      
      {% endblock %}
  </div>
    <footer>
      <div id="ft-sitemap">
        <h4>ECOGIFT</h4>
        <ul id="ft-nav">
          <li><a href="/">Inicio</a></li>
          <li><a href="/catalogo">Catálogo</a></li>
          <!-- <li><a href="/index.html">Empresa</a></li> -->
          <li><a href="/servicios">Servicios</a></li>
          <!-- <li><a href="/index.html">Contacto</a></li> -->
        </ul>
      </div>
      <div id="ft-categories">
        <h4><a href="/catalogo">PRODUCTOS</a></h4>
          <ul>
            <li><a href="/catalogo/1">Agendas / Bitácoras</a></li>
            <li><a href="/catalogo/2">Billeteras / Porta Vouchers</a></li>
            <li><a href="/catalogo/3">Bolsos / Morrales / Carteras</a></li>
            <li><a href="/catalogo/4">Etiquetas / Badanas</a></li>
            <li><a href="/catalogo/5">Llaveros Publicitarios</a></li>
            <li><a href="/catalogo/6">Neceser / Estuches</a></li>
            <li><a href="/catalogo/7">Oficina / Escritorio</a></li>
            <li><a href="/catalogo/8">Proyectos Personalizados</a></li>
            <li><a href="/catalogo/9">Set de Asado / Camping</a></li>
            <li><a href="/catalogo/10">Set Matero / Mates</a></li>
            <li><a href="/catalogo/11">Tags de Viaje / Identificadores</a></li>
            <li><a href="/catalogo/12">Vinoteca / Restaurant</a></li>
          </ul>
        </div>
      <div id="ft-social-links">
        <h4>NUESTRAS REDES</h4>
        <a href="https://www.facebook.com/ecogift/"><i class="fab fa-facebook-square"></i></a>
        <a href="https://www.instagram.com/ecogift.us/"><i class="fab fa-instagram"></i></a>
        <a href="https://www.youtube.com/watch?v=WrRGn3EAg4A"><i class="fab fa-youtube"></i></a>
      </div>
      <div id="ft-contact">
        <a href="/"><img src="../../static/static_assets/Screen Shot 2018-11-15 at 4.16.03 PM.png" title="Ecogift, Fabrica de Merchandising" alt="Logo de Ecogift"></a>
        <p><a href="mailto:ecogiftargentina@gmail.com"><i class="far fa-envelope"></i></a>
          <a href="mailto:ecogiftargentina@gmail.com"> ecogiftargentina@gmail.com</a></p>
          <a href="tel:+54-011-2006-6581"><i class="fas fa-phone"></i></a>
            <a href="tel:+54-011-2006-6581">+54 011 2006 6581</a>
        <p>Cnel. Niceto Vega 1001</p>
        <p>Ituzaingo, Prov. Buenos Aires</p>
        <p><a href="/">www.ecogift.com.ar</a></p>
      </div>
    </footer>

    <script src="" async defer></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<!-- <script type="text/javascript" src="./app/instafeed.min.js"></script>
<script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script> -->
<script type="text/javascript" src="../../static/main.js"></script>
  </body>
</html>