{% extends 'eco_app/base.html' %}
{% load staticfiles %}
{% block content %}

<p>{{product.category}}</p>
<p>{{product.name}}</p>
<p>{{product.model}}</p>
<p>{{product.description}}</p>

<div class="cat-thumb">
    <img id="cat-thumb" src="{{ MEDIA_URL }}{{ product.pic1.url }}"></img>
</div>

{% if product.pic2 %}
<div class="cat-thumb">
    <img id="cat-thumb" src="{{ MEDIA_URL }}{{ product.pic2.url }}"></img>
</div>
{% else %}
<p> </p>
{% endif %}

{% if product.pic3 %}
<div class="cat-thumb">
    <img id="cat-thumb" src="{{ MEDIA_URL }}{{ product.pic3.url }}"></img>
</div>
{% else %}
<p> </p>
{% endif %}

{% if product.pic4 %}
<div class="cat-thumb">
    <img id="cat-thumb" src="{{ MEDIA_URL }}{{ product.pic4.url }}"></img>
</div>
{% else %}
<p> </p>
{% endif %}

{% endblock %}
