<div class="category-list">
  <div class="cat-thumb">
    <a href="{% url 'categories_detail' pk=category.pk %}">
      <div id="cat-thumb-1"></div>
      <p class="cat-title">Agendas / Bitácoras {{category.name}}</p>
    </a>
    </div>
    <div class="cat-thumb">
    <a href="{% url 'categories_detail' pk=category.pk %}">
      <div id="cat-thumb-2"></div>
      <p class="cat-title">Billeteras / Porta Vouchers {{category.name}}</p>
    </a>
    </div>
  <div class="cat-thumb">
    <a href="#">
      <div id="cat-thumb-3"></div>
      <p class="cat-title">Bolsos / Morrales / Carteras</p>
    </a> 
    </div>
  <div class="cat-thumb">
    <a href="#">
      <div id="cat-thumb-4"></div>
      <p class="cat-title">Etiquetas / Badanas</p>
    </a>
    </div>
  <div class="cat-thumb">
    <a href="#">
      <div id="cat-thumb-5"></div>
      <p class="cat-title">Llaveros Publicitarios</p>
    </a>
    </div>
  <div class="cat-thumb">
    <a href="#">
      <div id="cat-thumb-6"></div>
      <p class="cat-title">Neceser / Estuches</p>
    </a> 
    </div>
  <div class="cat-thumb">
    <a href="#">
      <div id="cat-thumb-7"></div>
      <p class="cat-title">Oficina / Escritorio</p>
    </a>
    </div>
  <div class="cat-thumb">
    <a href="#">
      <div id="cat-thumb-8"></div>
      <p class="cat-title">Proyectos Personalizados</p>
    </a>
    </div>
  <div class="cat-thumb">
    <a href="#">
      <div id="cat-thumb-9"></div>
      <p class="cat-title">Set de Asado / Camping</p>
    </a> 
    </div>
  <div class="cat-thumb">
    <a href="#">
      <div id="cat-thumb-10"></div>
      <p class="cat-title">Set Matero / Mates</p>
    </a> 
    </div>
  <div class="cat-thumb">
    <a href="#">
      <div id="cat-thumb-11"></div>
      <p class="cat-title">Tags de Viaje / Identificadores</p>
    </a> 
    </div>
  <div class="cat-thumb">
    <a href="#">
      <div id="cat-thumb-12"></div>
      <p class="cat-title">Vinoteca / Restaurant</p>
    </a> 
    </div>
  