{% extends 'eco_app/base.html' %}
{% load staticfiles %}
{% block content %}

<div id="category-header">
    <h2>Servicios</h2>
</div>

<div id="services-page">
    <h4>Grabación</h4>
    <p>Todos nuestros productos son capaces de ser grabados para empresas pequeñas y grandes, tanto como para micro producciones. El precio varia por material de cuño, numero de artículos personalizados, y complejidad del diseño. Por favor especifique el tipo de grabado que desea y una foto de su logo en alta resolución en su consulta por email para poder realizar una cotización mas precisa. Los tipos de grabado que tenemos en actualidad:</p>
    <ul>
        <li>Bajo relieve (cuño)</li>
        <li>Bajo relieve de color (cuño)</li>
        <li>Alto relieve (cuño)</li>
        <li>Alto relieve de color (cuño)</li>
        <li>Grabado láser</li>
    </ul>

    <h4>Diseño y Restauración de Logo</h4>
    <p>En el evento de que no tenga logo o la imagen del logo proveído sea de muy baja resolución, podemos diseñarle un logo o restaurarlo en formato de alta resolución. Precio varia por complejidad de diseño y calidad de imagen proveída. Por favor mande su logo o idea de logo en su consulta por email para poder realizar una cotización mas precisa.</p>
</div>



{% endblock %}
